<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stickans verktygsbiblotek</title>
  	<link rel="stylesheet" href="components.css">   
</head>
<body>
    <div class="box-model">
    <heading class="shopping-cart">Varukorg</heading>
        <h1 class="heading">Stickans verktygsbiblotek</h1>
        <section>
            <nav container="navigation">
                <ul>
                    <li><a href="Tillgängliga verktyg.html">Tillgängliga verktyg</a></li>
                    <li><a href="Regler.html">Regler</a></li>
                    <li><a href="Om.html">Om oss</a></li>
                </ul>
        <main class="grid-content">
           <h2>Välkommen in till oss att låna verktyg!</h2>
           <h3>Vi finns på Samhällsgatan 5.</h3>
                    <strong>Öppettider</strong>
                <p>Mån-Fre: 8-20</p>
                <p>Lör-Sön: 10-16</p> 
        </main>
    </div>    
    </section>
    <footer>
        <footer class="Adress">Samhällsgatan 5</footer>
        <footer class="Sociala medier">Sociala medier</footer>
    </footer> 
</body>
</html>   